@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Joe's Pizza</h1>
        <p class="lead">Modern pizza evolved from similar flatbread dishes in Naples, Italy, in the 18th or early 19th century. Before that time, flatbread was often topped with ingredients such as garlic, salt, lard, and cheese.</p>
        
    </section>

    <h1>@ViewBag.Message</h1>
    <h3>This is the Home page of joe's Pizza'</h3>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                Cheese and tomato sauce are like a perfect pairing. On their own, they taste pretty good. But according to culinary scientists, they contain flavor compounds that taste even better when eaten together. Another quality of pizza that makes it so delicious: Its ingredients become brown while cooking in the oven.
            </p>
            <p><a class="btn btn-outline-dark" href="https://en.wikipedia.org/wiki/Pizza">To know more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Types of pizzas</h2>
            <h2>Pizza</h2>
            <p><a class="btn btn-outline-dark" href="https://www.ezcater.com/lunchrush/office/most-popular-types-of-pizza-around-country/">Learn more &raquo;</a></p>
        </section>
        
    </div>
</main>